* {
 box-sizing: border-box; 
}

body {
  margin: 0px;
}

header {
  background-color: #1F2937;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 30px;
}

header ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.intro {
  background-color: #1F2937;
  color: white;
}

.intro-div {
  padding: 40px;
  display: flex;
}

h1 {
  margin: 0;
}