/** GENERAL STYLING **/

* {
 box-sizing: border-box; 
 font-family: sans-serif;
}

body {
  margin: 0px;
}

/** HEADER **/

header {
  background-color: #1F2937;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 30px;
}

header ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

/** INTRO **/

.intro {
  background-color: #1F2937;
}

.intro-div {
  padding: 40px;
  display: flex;
}

.intro-content {
  margin: 0 20px;
}

.intro-content p {
  font-size: 18px;
  color: #E5E7EB
}

h1 {
  font-size: 48px;
  margin: 0;
  color: #F9FAF8;
}

.intro-button {
  background-color:#3B82F6;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
}

/** INFO **/

.info {
  height: 35vh;
}

.info-title {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  text-align: center;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-item {
  width: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 23px;
  text-align: center;
  color: #68717C;
}

.info-item img {
  border: 3px #3B82F6 solid;
  border-radius: 10%;
  margin-bottom: 7px;
} 


/** QUOTE **/

.quote {
  background-color: #E5E7EB;
}

.quote-container {
  padding: 60px 175px;
}

.quote-text {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1F2937;
  margin-bottom: 0px;
}

.quote-author {
  text-align: end;
  margin-right: 20px;
  font-weight: bolder;
}